<!DOCTYPE html>
<html lang="en">
<head>
    <title>BooK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="page-header"><h1 class="text-center">List of Books</h1></div>
    <div class="col-md-offset-2 col-md-8">
    	<form action="/search" method="get" role="form">
            <div class="input-group">
                <input type="text" class="form-control" name="keyWord" 
                value="<%= keyWord %>" 
                placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
        	</div><!-- /input-group -->
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Price</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<books.length; i++) {%>
                <tr>
                    <td><a href='/detail/<%= books[i]._id %>'><%= books[i].name %></a></td>
                    <td><%= books[i].author %></td>
                    <td><%= books[i].publisher %></td>
                    <td><%= books[i].price %></td>
                    <td><a href="/edit/<%= books[i]._id %>" class="btn btn-primary">Edit</a></td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
